*
{
    margin: 0%;
    padding: 0%;
}

.heading
{
    background-color: black;
    color: white;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left:550px;
    
}
p{
    color: silver;
}
.p1{
   color: black;

}
.p2{
    color: black;
}
.box
{
    
    display: inline-block;
    border-width: 2px;
    border-style: solid;
    border-color: black ;
    width: 202px;
   
    
}
h3{
    background-color: black;
    color: white;
    text-align: center;
    padding-right: 2px ;
}
.images
{
    padding-top: 5px;
    text-align: center;
}


.contact
{
    margin: 7px;
    background-color: black
    
}

.cen
{
    text-align: center;
    padding: 60px;
    color: white;
}

.p4
{
    margin-top: 3px;
    width: 600px;
    
}